
.orderhistoryspan{
    display: grid;
    grid-template-columns: 90% 10%;
    justify-items: center;
    align-items: center;
    /* border: 1px solid red; */
    margin: 0 30%;
}

.orderhistoryname{
    text-align: center;
}

