
div{
  /* border: 1px solid red; */

}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color:rgb(245, 237, 227);
  /* border: 1px solid red; */
}

/* body {
  background-color: rgb(254, 234, 229);
} */

/* .App {
  background-color: rgb(251, 196, 183);
  width: 80%;
  max-width: 1300px ;
  margin: 1vw auto;
  border-radius: 20px;
  padding: 0;
} */

.center {
  text-align: center;
}

.container {
  display: flex;
  border-radius: 20px;
  /* border: 1px solid red; */
  width: 100%;
  height: 97vh;
}



nav a {
  background: inherit;
  /* display: block; */
  text-align: center;
  margin-right: 5%;
}

nav {
  /* border: 1px solid red; */
  background: inherit;
  border-radius: 20px;
  /* display: block; */
  margin: 30px 10px;
}

main {
  width: 100%;
  display: block;
  border-radius: 20px;
  background-color: white;
  margin-top: 10px;
  margin-right: 10px;
}


nav a{
  color: black;
  text-decoration: none;
}

/* p{
  font-size: 12px;
} */

.footer{
  margin-top: 5%;
  margin-bottom: 3%;
}

.material-symbols-outlined{
  vertical-align: middle;
}

.visible{
   animation: arrivein 2s;
}
  @keyframes arrivein {
    from {
      margin-left: 0%;
      width: 0%;
          
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }


  .invisible{
    animation: arriveOut 2s;
 }


 @keyframes arriveOut {
  from {
    margin-left: 0%;
    width: 100%;
        
  }

  to {
    margin-left: 0%;
    width: 0%;
  }
}

.h1title{
  text-align: center;
  margin-top: 3%;
}
